<!doctype html>
    <html lang="en">
      <head>
          <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Chat-Restaurant Assistant</title>
      </head>
      <body>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div>Restaurant Assistant:
            <a href="{{ url_for('index') }}">Home</a>
		    <a href="{{ url_for('chat') }}">Talk To Us</a>
		    <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
        <hr>
          <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-8 col-sm-12 mx-auto">
                    <div class="h-100 justify-content-center">
                        <div class="chat-container" style="overflow: auto; max-height: 80vh">
                            <!-- chat messages -->
                        </div>
                        <form id="target">
                            <input class="input" type="text" value="" placeholder="Enter message..." id="input_message" required />
                            <input type="submit" placeholder="Submit">                         
                         </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='custom.js')}}"></script>
      </body>
    </html>
